* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Roboto', sans-serif;	
}

html, body {
	height: 100%;
	display: flex;
}



/*Общее*/
span {
	display: block;
	text-transform: uppercase;
}

img {
	transition: transform .8s ease;
	cursor: pointer;
}

img:hover { 
	transform: scale(1.1);
}

p{
	color:#494C4D;
}

i {
	font-size: 30px;
	color: #609CF5;
	cursor: pointer;
}

/*СМИ портал*/
article {
	transition: all .5s ease;
	margin: 0 auto  0 ;
	width: 92%;
}

article div i {
	margin: 20px 0 0 20px;
}

.header {
	width: 100%;
	margin: 0 auto;
}

.header h2{
	padding-bottom: 20px;
	font-weight: bold;
	border-bottom:4px solid #609CF5;
	margin-top: 15px;
}

/*Главная статья*/

.main {
	width: 92%;
	margin: 0 auto;
}

.major {
	padding-bottom: 30px;
	margin-top: 80px;
	border-bottom: 1px solid #E0E3E5;
}

.text-1 {
	margin-bottom: 35px;
	width: 50%;
}

.text-1>p {
	width: 70%;
	line-height: 28px;
	font-size: 18px;
	margin-top: 90px;
}

.text-1>h1{
	width: 100%;
	font-size: 40px;
}

.text-1>button{
	cursor: pointer;
	color: #609CF5;
	border-radius: 10px;
	border: 2px solid #609CF5;
	background-color: white;
	padding:18px 40px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 60px;
}

.text-1>h4 {
	margin-top: 10px;
	font-size: 14px;
	color:#494C4D;	
	font-weight: 400;
	text-transform: uppercase;
}


#img {
	float:right;
	width:37%;
	border-radius: 5px;
	border:1px solid #E0E3E5;
}
/*Статьи - последние опубликованные*/

.laster {
	margin-top: 30px;
}

.laster>h1 {
	border-bottom:4px solid #609CF5;
	width: 25%;
	font-size: 24px;
	padding-bottom: 20px;
}

#card {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.for-card {
	box-sizing: border-box;
	margin-top: 80px;
	width: 50%;
	padding: 2% 2% 2% 0;
	border-bottom: 1px solid #E0E3E5;
	margin-bottom: 20px;
}

.for-card:nth-child(even){
	padding: 2% 0 2% 2%;
}

.for-card:nth-child(odd){
	border-right: 1px solid #E0E3E5;
}

.for-card:nth-child(5){
	border-bottom: none;
}

.for-card:nth-child(6){
	border-bottom: none;
}

.for-card>img {
	border-radius:15px;
	width: 100%;
	max-height: 100%;
}

.for-card>h3 {
	margin-top: 40px;
	font-weight: bold;
}

.for-card>p {
	font-size: 16px;
	color:#494C4D;
	margin-top: 30px;
} 

.for-card>button {
	cursor: pointer;
	color: #609CF5;
	border-radius: 10px;
	border: 2px solid #609CF5;
	background-color: white;
	padding:18px 30px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 20px;
}

/*Блок с информацией*/
#line{
	border-top: 1px solid #E0E3E5;
	width: 100%;
}

.inform {
	margin-top: 20px;
	padding-top: 20px;
	border-bottom:4px solid #609CF5;
	width: 188px;
	font-size: 24px;
	padding-bottom: 20px;
}

.inform-card {
	border-top:1px solid #E0E3E5;
	margin-top: 40px;
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mini-card {
	width: 16%;
}

.mini-card>img {
	border-radius: 5px;
	width: 100%;
}

.mini-card>h2{
	margin-top: 20px;
}

.mini-card>p{
	margin-top: 20px;
}

/*footer .информация.*/

.information {
	width: 92%;
	margin: 0 auto;
}

.inform-footer{
	display: flex;
}

.inform-footer> div {
	width: 50%;
	margin-top: 40px;
}

.inform-footer div i {
	margin-top: 5px;
	float: left;
	font-size: 70px;
	margin-right: 20px;
}

.inform-footer div p{
	margin-top: 8px;
	margin-bottom: 50px;
}

/*Тумблер слева, с навигацией и прочее */
#click-static{
	display: none;
}

nav{
	display: none;
	height: 470%;
	width: 21%;
	background-color:#F5F6F7;
}

nav input {
	border: 2px solid #E0E3E5;
	border-radius: 10px;
	padding:10px 20px;
	margin-top:20px; 
	cursor: pointer;
}

.menu-main {
	padding: 0 15px  5px 60px;
} 

.menu h2{
	margin-top:40px; 
	border-bottom: 4px solid #609CF5;
	width: 65px;
	font-size: 22px;
}

.menu span {
	margin-top: 10px;
	cursor: pointer;
	text-transform: uppercase;
	padding: 20px 0;
}

.menu span:nth-child(5) {
	border-top: 1px solid #E0E3E5;
}

.menu span:nth-child(4) {
	border-top: 1px solid #E0E3E5;
}

.inform-about-us h2{
	margin-top:40px; 
	border-bottom: 4px solid #609CF5;
	width: 223px;
	font-size: 22px;
}

.inform-about-us img {  
	margin-top:40px;
	width: 100%;
	border-radius: 5px;
}

.inform-about-us p {
	margin-top: 20px;
}

.card-us {
	border-bottom: 2px solid #E0E3E5;
}

.card-us p {
	margin-bottom: 40px;
}

.help h2{
	width: 90px;
	margin-top:40px; 
	border-bottom: 4px solid #609CF5;
	font-size: 22px;
}

.inform-about-us button {
	cursor: pointer;
	color: #609CF5;
	border-radius: 10px;
	border: 2px solid #609CF5;
	background-color: white;
	padding:10px 20px;
	font-weight: bold;
	font-size: 18px;
	margin-top: 15px;
}

.help p{
	margin-top: 20px;
}

.help div i{
	margin-top: 4px;
	float: left;
	font-size: 50px;
}

.help div p{
	display: inline-block;
	margin-left: 20px;
}

.help div {
	margin-top: 40px;
}

.home {
	padding-bottom: 20px;
}

.home  p{
	margin-top: 15px;
}

.phone p {
	margin-top: 21px;
}

/*Media запросы*/
#click-fun2 {
	display: none;
}


@media (max-width:767px){
	/*всплывающаяся страничка*/
	body{
		display: block;
	}

	nav{
	height: auto;
	width: 100%;
	box-sizing: content-box;
	}

	.menu-main {
	padding: 0 40px 0 40px;
	}

	nav img {
		height:  80%;
	}

	#click-fun2 {
		position: fixed;
		top:10px;
		right:15px;
		font-size: 40px;
	}
/*основная часть*/
	.main {
		width: 92%;
	}

	.text-1{
		width: 100% ; 
	}
	
	.text-1 >h1{
		width: 100% ; 
		font-size: 38px;
	}

	.text-1 >p{
		width: 100% ; 
	}

	button{
		display: block;
		width: 80%;
		margin:30px auto; 
	}

	#img {
		width: 100%;
		float: none;
	}

	.laster>h1 {
		width: 100%;
	}

	.for-card {
		width: 100%;
		border-bottom: none;
		border-right: none !important;
		margin-bottom: 0 ;
		margin-top:20px ;
	}

	.inform {
		width: 100%;
	}
	.mini-card {
		width: 100%;
		margin-bottom: 50px;
	}

	.mini-card img {
		height: 75%;
	}

	.inform-footer{
		justify-content: space-between;
	}

	.inform-footer > div{
		width: 45%;
	}
}

@media (min-width: 768px) and (max-width: 768px) { 
	nav{
		width: 40%;
		height:430%;
	}

	.move-1 {
		width: 60%;
	}

	.menu-main {
    padding: 0 20px 5px 60px;
	}

	#img {
		float:none;
		width: 100%;
	}

	.major {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.text-1 {
		width: 100%;
	}

	.text-1>h1{
		margin-top: 30px
	} 

	.text-1>p{
		width: 100%;
	} 


	.text-1>button {
		display: block;
		margin: 40px auto; 
		width: 50%;
	}

	.for-card {
		margin-top: 20px;
	}

	.img-major{
		padding:0 40px;
	}

	.mini-card {
		width: 45%;
		margin-bottom: 20px;
	}

	.inform {
		width: 180px;
	}
}



@media (min-width: 769px) and (max-width: 1200px) { 
	nav{
		width: 40%;
		height:325vh;
	}

	.move-1 {
		width: 60%;
	}

	.menu-main {
    padding: 0 20px 5px 60px;
	}

	#img {
		float:none;
		width: 100%;
	}

	.major {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.text-1 {
		width: 100%;
	}

	.text-1>h1{
		margin-top: 30px
	} 

	.text-1>p{
		width: 100%;
	} 


	.text-1>button {
		display: block;
		margin: 40px auto; 
		width: 50%;
	}

	.for-card {
		margin-top: 20px;
	}

	.img-major{
		padding:0 40px;
	}

	.mini-card {
		width: 45%;
		margin-bottom: 20px;
	}

	.inform {
		width: 180px;
	}
}


@media (min-width: 1201px) {
	nav {
		width: 30%;
	}
}