*{
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    resize: none;
}


button {
    cursor: pointer;
}

body{
    font-family: 'Open Sans', sans-serif;
}

input {
    cursor: pointer;
}

nav{
    left: 0;
    top: 0;
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: 99;
}



.flex{
    align-items: center;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    cursor: pointer;
}

.nav-item input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
}

#Logo{
    cursor: pointer;
    font-weight: bold;
    width: 40%;
}

header{
    color: white;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url(assets/header.png);
}

header > h1 {
    letter-spacing:5px;
    padding-top: 250px;
    text-align: center;
    font-weight: 400;
    font-size: 55px;
}

.dop-text{
    margin: 30px auto 0;
    width: 60%;
    letter-spacing: 1.5px;
    display: block;
    text-align: center;
}

header > div {
    line-height: 200px;
    text-align: center;
}

.btn-header{
    margin-top: 150px;
    letter-spacing: 1px;
    font-weight: bold;
    box-sizing: border-box;
    border: none;
    color: white;
    padding: 18px 35px;
}

.btn-opacity{
    border:1px solid white ;
    margin-right: 5px;
    background: rgba(255, 255, 255, .0001);
}

.btn-green{
    background-color: #00897B;
    margin-left: 5px;
}

.down{
    position: absolute;
    bottom: 20px;
    left: calc(50% - 10px) ;
    width: 20px;
    height: 20px;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    transform: rotate(-45deg);
    cursor: pointer;
}

article > div {
    padding: 5% 5%;
}

article  h1 {
    margin-top: 50px;
    text-align: center;
}

article  div > span{
    line-height: 25px;
    width: 55%;
    margin: 50px auto;
}

.card {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    flex-wrap: wrap;
}

.card-item {
    width: 31%;
    text-align: center;
    margin-bottom: 100px;
}

.card-item div, .card-item h2 {
    margin-top: 55px;
}

.card-item p{
    margin: 15px auto ;
    width: 70%;
}

.our-services {
    padding: 5% 5%;
    background-color: #E4FDF9;
}

.our-services div > h1{
    padding-top: 50px;
    text-align: center;
}

.our-card{
    margin-bottom: 50px;
    background-color: white;
    text-align: center;
    height: 450px;

}

.our-card h3{
    margin: 15px 0;
}

.our-card img{
    margin-left: 25px;
    margin-top: 75px;
    color: black;
}

.our-card span  {
    margin: 25px auto 35px;
    display: block;
    width: 65%;
}

.our-card button{
    font-weight: bold;
    padding: 15px 10px;
    border: 1px solid black;
    color: black;
    background-color: white;
}

.our-card button {
    padding: 10px 10px;
}








.last-works {
    padding: 5% 5%;
    position: relative;
}

.last-works h1 {
    text-align: center;
    margin-top: 100px;
}

.slider-btn {
    margin:  100px auto;
    width: 55%;
}


.slider-btn button {
    font-weight: bold;
    border: 2px solid #00897B;
    background-color: white;
    padding: 10px 10px;
}

.slider-info {
    width: 70%;
    display: flex;
    margin: 0 auto 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.slider-info div {
    margin-bottom: 15px;
    text-align: center;
    width: 370px;
    cursor: pointer;
}


.view-more{
    width: 180px;
    text-align: center;
    padding: 15px 55px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #00897B;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 90px);
}




.price{
    background-color: #F0F1F1;
    padding: 5% 5%;
}

.price h1 {
    text-align: center;
    padding-top: 50px;
}



.price-icons{
    margin: 100px auto 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    
}

.icon{
    
    background-color: white;
    width: 370px;
   
}

.icon-header{
    color: white;
    background-image: url(assets/div-header.png);
    height: 209px;
    width: 100%;
    text-align: center;
    position: relative;
}

.icon-header h3, .icon-header p{
    font-weight: 400;
    

}


.dollar-icon{
    font-weight: 400 !important;
    font-size: 18px !important;
    position: relative;
    top: -12px;
    right: 2px;
}
.icon-header p span {
    font-size: 35px;
}


.icon-header h3{
    padding-top: 10px;
    line-height: 80px;
    font-size: 22px;
}

.price-description{
    text-align: center;
    
}

.price-description span{
    
    color: #595959;
    border-bottom: 1px solid grey;
    margin:  50px auto;
    width: 180px;
    display: block;
    box-sizing: border-box;
}

.price-description button{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 1px;
    padding: 10px 12px;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: 50px;
}

.price-description > .btn-active{
    background-color: #00897B;
    border: 1px solid #00897B;
}



footer {
    color: white;
    height: 100%;
    padding: 5% 5%;
    background-image: url(assets/contact.png);
}

footer h1 {
    text-align: center;
}


.information-our {
    text-align: center;
    display: flex;
    width: 65%;
    margin: 80px auto 0;
    justify-content: space-between;
}

.information-our .footer-blue-circle{
    margin: 0 auto;
    width: 120px;
    height: 120px;
    position: relative;
    border-radius: 50%;
    background-color: #3949AB;
}
.information-our .footer-blue-circle img {
    margin: 30px auto;
}

.information-our p:first-of-type{
    margin-top: 10px;
}

.information-our p {
    margin-top: 5px
}

form {
     width: 80%;
    margin: 80px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form input[type='text']{
    box-sizing: border-box;
    width:48%;
  
}

form input, form textarea {
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    padding: 15px;
    font-weight: bold;
}

footer textarea {
    
    margin: 30px 0 0 ;
    width: 100%;
    height: 150px;
    display: block;
    
}

form div  {
    width: 100%;
    text-align: right;
}

form div button {
    border-radius: 5px;
    border: none;
    margin-top: 35px;
    padding: 10px 30px;
    font-weight: bold;
}



@media (min-width: 768px) and (max-width: 1200px){

}

@media (max-width: 767px){

}